<md-dialog class="options-alert-dialog" aria-label="Invoice dialog" ng-cloak>
  <div class="options-alert-inner-ewallet">
    <a href="#" ng-click="cancel()" class="options-alert-cancel">
      x
    </a>
    <div class="btns-section-ewallet" layout="row" layout-align="space-between start">
      <div flex="100" class="date-filters-ewallet ewallet-actual-amount">
        <p>
          <strong id="trigger-start-date-orders" class="date-filter-trigger">
            ESCANEAR MONEDERO
          </strong>
        </p>
        <hr />
        <!-- <p class="scanner-align">
          <i class="icon-scaner"></i>
        </p> -->
        <div id="interactive"></div>
        <ul id="devices"></ul>
        <p class="enter-code">Ingresa el código de tu monedero:</p>
        <p ng-if="err">{{err}}</p>

        <input type="text" ng-model="cardNumber">
      </div>
    </div>
    <div layout="row" layout-align="space-between end">
      <a ng-click="save()" class="action-btn action-btn-save ewallet-asociate-btn" href="#" flex="25">
        <strong>ASOCIAR</strong>
      </a>
    </div>
  </div>
</md-dialog>
