<form
  class="form-section-content"
  name="vm.createFiscalForm"
>

  <div class="input-element">
    <label class="rfc-label"><strong>Registro Federal de Contribuyente (RFC)  <span class="ast">*</span></strong></label>
    <div class="input-element-inner">
      <input type="text" ng-model="vm.LicTradNum" required>
    </div>
  </div>

  <div class="client-item-info">

    <div layout="row">
      <div flex="45" class="input-element">
        <label><strong>Razón social <span class="ast">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="vm.fiscalAddress.companyName" min="12" maxlength="50" required>
        </div>
        <p
          ng-if="vm.fiscalAddress" 
          class="input-note">
            Máximo de caracteres: <strong>{{ (50 - vm.fiscalAddress.companyName.length) }}</strong>
        </p>
      </div>
    </div>

    <div layout="row">
      <!--
      <div flex="20" class="input-element">
        <label><strong>RFC <span class="ast">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="vm.fiscalAddress.rfc" required>
        </div>
      </div>
      -->

      <div flex="25" class="input-element">
        <label><strong>Teléfono <span class="ast">*</span></strong></label>
        <div class="input-element-inner">
          <input
            type="tel"
            name="phone"
            ng-model="vm.fiscalAddress.Phone1"
            required
            autocomplete="tel"
            placeholder="Lada + Número">
        </div>
        <p class="input-note">Caracteres numéricos</p>                    
      </div>

      <div flex="30" class="input-element">
        <label><strong>Email</strong>*</label>
        <div class="input-element-inner">
          <input 
            type="email"
            name="email" 
            ng-model="vm.fiscalAddress.U_Correos" 
            required
            autocomplete="email">
        </div>
      </div>
    </div>


    <h4>DIRECCIÓN FISCAL</h4>
    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Calle</strong></label>
        <div class="input-element-inner">
          <input 
            type="text" 
            name="street"
            ng-model="vm.fiscalAddress.Street"
            autocomplete="street-address" 
          >
        </div>
        <p
          ng-if="vm.fiscalAddress" 
          class="input-note">
            Máximo de caracteres <strong>{{ (50 - vm.fiscalAddress.Street.length) }}</strong>
        </p>          
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. exterior</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="vm.fiscalAddress.U_NumExt">
        </div>
        <p
          ng-if="vm.fiscalAddress" 
          class="input-note">
            Máx. carac. <strong>{{ (15 - vm.fiscalAddress.U_NumExt.length) }}</strong>
        </p>         
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. interior</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="vm.fiscalAddress.U_NumInt">
        </div>
        <p
          ng-if="vm.fiscalAddress" 
          class="input-note">
            Máx. carac. <strong>{{ (18 - vm.fiscalAddress.U_NumInt.length) }}</strong>
        </p>         
      </div>

      <div flex="25" class="input-element">
        <label><strong>Colonia</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="vm.fiscalAddress.Block">
        </div>
        <p
          ng-if="vm.fiscalAddress" 
          class="input-note">
            Máximo de caracteres <strong>{{ (18 - vm.fiscalAddress.Block.length) }}</strong>
        </p>         
      </div>

      <div flex="20" class="input-element">
        <label><strong>Municipio</strong></label>
        <div class="input-element-inner">
          <input 
            type="text" 
            ng-model="vm.fiscalAddress.U_Localidad"
            autocomplete="address-level1">
        </div>
      </div>

    </div>

    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Ciudad</strong></label>
        <div class="input-element-inner">
          <input 
          type="text" 
          name="city"
          ng-model="vm.fiscalAddress.City"
          autocomplete="address-level2" 
          >
        </div>
      </div>


      <div flex="30" class="input-element select-element-wrapper">
        <label><strong>Estado</strong><span class="ast">*</span></label>
        <md-select 
          ng-model="vm.fiscalAddress.State" 
          required 
          class="select-element">
          <md-option ng-repeat="state in vm.states" ng-value="state.Code">
            {{state.Name}}
          </md-option>
        </md-select>
      </div>

      <div flex="15" class="input-element">
        <label><strong>Código postal*</strong></label>
        <div class="input-element-inner">
          <input 
            type="text" 
            name="postal"
            ng-model="vm.fiscalAddress.ZipCode"
            autocomplete="postal-code"
            required
            minlength="5"
            maxlength="5" 
          >
        </div>
        <p class="input-note">Caracteres numéricos</p>
      </div>

    </div>

  </div>



</form>
