<md-dialog class="options-alert-dialog" ng-cloak>
  <!--
    <div class="pop-solicitud">
      <a href="#" ng-click="cancel()" class="options-alert-cancel"> x </a>
      <div class="solicitud-item" layout="column" layout-align="center">
        <h2><strong>Solicitud de reemplazo de monedero</strong></h2>
        <p ng-if="err">{{ err }}</p>
        <div
          class="form-view-content height100"
          layout="row"
          layout-align="center center"
        >
          <div class="pop-container">
            <div
              class="pop-inner-container"
              layout="column"
              layout-align="center center"
            >
              <i class="icon-attachment attachment"> </i>
              <form action="">
                <input type="file" name="pdf" accept="application/pdf" />
              </form>
            </div>
          </div>
        </div>
        <div class="form-view-btn-margin">
          <input
            class="form-view-btn form-view-btn-primary width100"
            type="submit"
            value="Editar"
          />
        </div>
      </div>
    </div>
  -->
  <p>hola</p>
</md-dialog>
