<section class="form-view container container-xlg">

  <h1><i class="icon-pedidos"></i> <strong>PEDIDOS</strong></h1>

  <div layout="row" layout-align="space-between end" class="form-view-filters">

    <div flex="50" class="date-filters">
      <p>
        <strong id="trigger-start-date-orders" class="date-filter-trigger">
          <i  class="icon-pedidos"></i> DEL:
          <input
            pikaday="vm.dateStart"
            format="DD/MM/YYYY"
            trigger="trigger-start-date-orders"
            readonly
            type="text"
            set-default-date="true"
            default-date="{{vm.startDate}}"
            on-select="vm.onDateStartSelect(pikaday)">
        </strong>
        <strong id="trigger-end-date-orders" class="date-filter-trigger">
          <i  class="icon-pedidos"></i> AL:
          <input
            pikaday="vm.dateEnd"
            format="DD/MM/YYYY"
            trigger="trigger-end-date-orders"
            readonly
            set-default-date="true"
            default-date="{{vm.endDate}}"
            type="text"
            on-select="vm.onDateEndSelect(pikaday)">
        </strong>
      </p>
    </div>

    <div
      ng-if="!vm.isBroker && vm.seller.length === 0"
      flex="30"
      class="input-element select-element-wrapper"
    >
      <label><strong>Buscar sobre:</strong></label>
      <select 
        ng-if="vm.listScopes.length > 0" 
        ng-model="vm.filters.User" 
        ng-options="option.value as option.label for option in vm.listScopes"
        class="select-element">
      </select>
    </div>
    <div ng-if="!vm.isBroker" flex="20">
      <a ng-click="vm.applyFilters()" href="#" class="action-btn">Aplicar filtros</a>
    </div>
  </div>

  <hr/>

  <div
    ng-if="vm.isLoading"
    layout-fill
    layout="row"
    layout-sm="column"
    layout-align="center center"
    class="loading-circle"
  >
    <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="150"></md-progress-circular>
  </div>

  <div ng-show="!vm.isLoading" class="nested-table">

    <!---
    <div class="nested-top">
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>Monto cobrado</th>
          <th>Monto diferencia</th>
        </tr>

        <tr role="row" class="odd">
          <td class="ng-scope sorting_1">123450123</td>
          <td class="ng-scope">Luis Perez Bautista</td>
          <td class="ng-scope">29-abr-2016</td>
          <td class="ng-scope">25-jun-2016</td>
          <td class="ng-scope">$14,699</td>
          <td class="ng-scope">$7,699</td>
          <td class="ng-scope">$7,000</td>
        </tr>

      </table>
    </div>

    <div class="nested-bar nested-bar1" layout="row" layout-align="space-between center">
      <span>TOTAL</span><span>$209,000</span>
    </div>
    -->

    <!--
      IF MANAGER
    -->
    <h2 ng-if="vm.sellers">
      TIENDA: {{vm.user.mainStore.name}}
    </h2>
    <div
      ng-repeat="seller in vm.sellers track by $index"
      class="nested-item"
    >
      <div
        class="nested-bar nested-bar3"
        ng-click="seller.selected = !seller.selected"
        layout="row"
        layout-align="space-between center"
      >
        <span>TOTAL VENDEDOR: {{seller.firstName + ' ' + seller.lastName}} </span>
        <span>
          {{seller.total | currency}} <i class="icon-arrow dropdown-icon" ng-class="{'dropdown-icon-closed':!seller.selected}"></i>
        </span>
      </div>

      <div ng-show="seller.selected" class="nested-content">
        <section ng-if="seller.selected" class="table-list-wrap table-list-wrap-nomargin">
          <div
            table-list
            class="table-list table-list-v2"
            columns="vm.columnsOrders"
            api-resource="vm.apiResourceOrders"
            date-range="vm.dateRange"
            filters="seller.filters"></div>
        </section>

      </div>
    </div>
    <!--
    END IF MANAGER
    -->

    <!---
    IF SELLER
    -->
    <div
      ng-if="vm.isUserSellerOrAdmin()"
      class="nested-item"
    >
      <div
        class="nested-bar nested-bar3"
        ng-init="seller.selected = true"
        ng-click="seller.selected = !seller.selected"
        layout="row"
        layout-align="space-between center"
      >
        <span>TOTAL VENDEDOR: {{vm.user.firstName + ' ' + vm.user.lastName}} </span>
        <span>
          {{vm.totalDateRange | currency}} <i class="icon-arrow dropdown-icon" ng-class="{'dropdown-icon-closed':!seller.selected}"></i>
        </span>
      </div>

      <div ng-show="seller.selected" class="nested-content">
        <section class="table-list-wrap table-list-wrap-nomargin">
          <div
            table-list
            class="table-list table-list-v2"
            columns="vm.columnsOrders"
            api-resource="vm.apiResourceOrders"
            date-range="vm.dateRange"
            filters="vm.filters"></div>
        </section>
      </div>
    </div>
    <!--
    END IF SELLER
    -->

    <!--
      IF BROKER
    -->

    <div
      ng-if="vm.isBroker"
      class="nested-item"
    >
      <div
        class="nested-bar nested-bar3"
        layout="row"
        layout-align="space-between center"
      >
        <span>BROKER: {{vm.user.firstName + ' ' + vm.user.lastName}} </span>
      </div>

      <div  class="nested-content">
        <section class="table-list-wrap table-list-wrap-nomargin">
          <div
            table-list
            class="table-list table-list-v2"
            columns="vm.columnsOrders"
            api-resource="vm.apiResourceOrders"
            date-range="vm.dateRange"
            filters="vm.filters"></div>
        </section>
      </div>
    </div>

    <!--END IF BROKER-->

  </div>

  <!--STORE MANAGER-->
  <ng-include 
    ng-if="vm.sellers"
    src="'views/orders/store-charts.html'">
  </ng-include>
  <!--END STORE MANAGER-->  

  <!--SELLER-->
  <ng-include 
    ng-if="!vm.isBroker"
    src="'views/orders/seller-charts.html'">
  </ng-include>  
  <!--END SELLER-->


</section>
