<section class="form-view container container-xxlg">
  <div layout="row" layout-align="space-between center" class="action-links">
    <div flex="">
      <h1>
        <i class="icon-login"></i>
        <strong>MESA DE REGALOS</strong>
      </h1>
    </div>
    <div flex="30">
      <h4 class="pull-right">
        <a href="/eventwishlist/create" class="primary-link">
          <i class="icon-cotizar"></i> CREAR NUEVA MESA DE REGALOS
        </a>
      </h4>
    </div>
  </div>
  <hr/>
  <section class="table-list-wrap table-list-wrap-nomargin">
    <div></div>
  </section>
</section>
