<section class="form-view container container-xlg">
  <h1>
    <i class="icon-monedero"></i>
    <strong>MONEDERO #12345678901234</strong>
  </h1>

  <hr/>
  <div layout="row" layout-align="space-between end" class="form-view-filters">
    <div flex="50" class="date-filters ewallet-actual-amount">
      <p>
        <strong id="trigger-start-date-orders" class="date-filter-trigger">
          SALDO ACTUAL:
        </strong>
      </p>
    </div>
    <div flex="50" class="date-filters ewallet-amount">
      <p>
        <strong id="trigger-start-date-orders" class="date-filter-trigger">
          $1,560.00 MXN
        </strong>
      </p>
    </div>
  </div>


  <div layout="row" layout-align="space-between end" class="form-view-filters-ewallet">
    <div flex="100" class="date-filters-ewallet ewallet-actual-amount">
      <p>
        <strong id="trigger-start-date-orders" class="date-filter-trigger">
          ESCANEAR MONEDERO
        </strong>
      </p>
      <hr/>
      <p class="scanner-align">
        <i class="icon-scaner"></i>
      </p>
      <p class="enter-code">Ingresa el código de tu monedero:</p>
      <input type="text">
    </div>
  </div>


</section>
